.user-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.user-filter button {
  margin-left: 5px;
}

.user-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user-card {
    margin: 10px;
    max-width: 300px;
  }
